<!DOCTYPE html>
<html>
    <head>
        <title>HappyStep's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">HappyStep's Blog</a></h1>
        </header>

        <article>
            <time>published: 31.10.2023, 15:04</time>
            <h2><a href="">My first post</a></h2>
            <p>Welcome to my blog. This blog will not include anything usefull right now. This is because I am using it to refresh my django skills</p>
        </article>

        <article>
            <time>published: 31.10.2023, 15:05</time>
            <h2><a href="">My second post</a></h2>
            <p>Same as my first post, there is no meaningful text here for you, reader.</p>
        </article>
    </body>
</html>
